@import '../../styles/common';
@import '../../components/word-card/word-card.scss';

.textbook-group-navigation {
  background-color: $gray-light;

  .navbar-nav {
    height: 56px;
  }

  .nav-item {
    flex-grow: 1;
    text-align: center;
    margin: 0.5rem 0.25rem;
    color: #ffffff;
    opacity: 0.7;

    &.learned {
      margin-top: -0.5rem;
      margin-bottom: -0.5rem;
      padding-top: 1.25rem;
    }
    &.active {
      opacity: 1;
      transform: translateY(25%);
    }
  }

  .nav-item:first-child {
    margin-left: 0.5rem;
  }

  .nav-item:last-child {
    margin-right: 0.5rem;
  }
}

.words-cards-list-container {
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 3rem;
  background-color: $gray-light;
}
