@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500&display=swap');
@import '../../styles/common';

.audio-challenge-container {
  width: 100%;
  height: 100%;
  display: flex;
  background: url('https://lh4.googleusercontent.com/c5qIjP-47u462c6IYJdy8C6mlXdfcglSYbRNdiYJDJdM2Y-i5bXZfXlpO0wBBuC1V2UR-B03udfVmC16KNqJEgoZR1fTK-CCt7JC4WpuyU_4YMUJ6T4uYuhlV2Vs_v7Ofh_FgBR1');
  background-size: cover;
  text-align: center;
  color: white;
  .audio-rules-container {
    display: block;
    position: relative;
    .audio-rules-container-back {
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      background: $turquoise-dark;
      opacity: .6;
      border: $white solid 3px;
      border-radius: 30px;
    }
    .audio-rules-container-front {
      position: relative;
      z-index: 1;
      padding: 30px;
      .audio-rules-title {
        font-size: 50px;
        font-family: 'Source Code Pro';
      }
      .audio-rules-text {
        font-size: 25px;
      }
      .list-rules {
        text-align: left;
        margin: 20px 40px;
      }
      .list-rules-item {
        font-size: 25px;
      }
      .control-box-audio-page {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 200px;
        .choise-audio-level-button {
          width: 80px;
          height: 50px;
          font-size: 20px;
        }
        .select-audio-rules-page {
          width: 80px;
          height: 50px;
          font-size: 20px;
          border: white 2px solid;
          background: none;
          color: white;
          cursor: pointer;
          .option-audio-rules-page {
            color: black;
          }
        }
        .select-audio-rules-page:hover {
          background: white;
          color: black;
        }
      }
    }
  }
  .audio-rules-container.active {
    display: none;
  }
  .audio-game-container {
    .box-audio-button {
      margin: 0 auto;
      background: $gray-light;
      border-radius: 50%;
      padding: 10px;
      width: 100px;
      height: 100px;
      cursor: pointer;
      opacity: .8;
      transition: ease-in .3s;
      .repeat-aydio-button {
        width: 100%;
        height: 100%;
      }
    }
    .box-audio-button:hover {
      opacity: 1;
      transition: ease-in .3s;
    }
    .answers-box {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      padding: 20px 0;
      justify-content: center;
      .answer-box {
        width: 170px;
        height: 60px;
        position: relative;
        margin: 20px 20px;
        font-size: 20px;
        cursor: pointer;
        .back-answer-box {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          opacity: .6;
          background: $turquoise-dark;
        }
        .word-text {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          z-index: 3;
          color: $white;
        }
      }
      .answer-box:hover > .back-answer-box {
        opacity: 1;
        transition: ease-in 1s;
        box-shadow: 10px 10px 10px black;
      }
    }
  }
}
.audio-challenge-structure {
  margin: auto;
  .example-image-box {
    padding: 20px;
  }
  .example-image {
    border-radius: 75%;
    width: 200px;
    height: 200px;
    border: 3px solid white;
  }
  .container-info-correct-word {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    .box-audio-button-small {
      width: 60px;
      height: 60px;
      background: white;
      padding: 10px;
      opacity: .8;
      border-radius: 50%;
      transition: ease-in .1s;
    }
    .box-audio-button-small:hover {
      opacity: 1;
      padding: 5px;
      cursor: pointer;
      transition: ease-in .1s;
    }
    .correct-word-container {
      font-size: 30px;
      margin: auto 0;
    }
  }
  .button-nex-word {
    margin-top: 30px;
    width: 100px;
    height: 50px;
    font-size: 20px !important;
  }
}
