$turquoise-dark: #005365;
$turquoise: #44929f;
$turquoise-light: #c8e8ed;
$gray-dark: #949597;
$gray: #c1bdb4;
$gray-light: #e2e2e2;
$yellow-dark: #c29400;
$yellow: #ebd567;
$yellow-light: #fbf0a7;
$white: white;