@import "../../styles/common";
.header {
  background: $gray-dark;
  width: 100%;
  z-index: 3;
  padding: 10px 0;
  position: sticky;
  height: 66px;
  top: 0;
  .header-nav {
    margin: auto 30px;
    display: flex;
    flex-wrap: wrap;

    .app-logo {
      margin: auto 0;
      font-size: 30px;
      .rs {
        width: 40px;
        height: 40px;
        background: $turquoise;
      }
      .lang {
        margin: auto 0;
        color: $white;
      }
    }
    .page-name {
      margin: 0 auto;
      font-size: 30px;
      color: $white;
    }
    .user-name {
      color: white;
      font-weight: bold;
      font-family: sans-serif;
      margin-right: 20px;
      font-size: 20px;
      padding-top: 10px;
      span {
        color: $turquoise;
      }
    }
    .btn {
      margin: auto 0;
    }
    .hide {
      display: none;
    }
  }
}
@media (max-width: 700px) {
  .header {
    .header-nav {
      margin: auto 10px;
    }
  }
}
