@import '../../styles/common';

.word-card-container {
  position: relative;
  background-color: #ffffff;
  font-size: smaller;
  min-height: 330px;
  overflow: hidden;
  opacity: 0.7;
  transition: all 0.3s linear;

  .word-card-image {
    position: relative;
    left: -0.75rem;
    width: 35%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s linear;
  }

  .word-card-marker {
    position: relative;
    left: -0.75rem;
    width: 3rem;
    height: auto;
    transition: all 0.3s linear;
  }

  .word-card-description {
    width: 65%;

    .word-card-translate,
    .word-card-text-meaning-translate,
    .word-card-text-example-translate {
      opacity: 0.7;
    }
  }

  .word-card-audio-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 55px;
    height: 55px;
    background-color: $gray-light;
    border-radius: 50%;
    opacity: 0.7;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  .word-card-buttons {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    gap: 0.75rem;

    .btn {
      min-width: 100px;
      color: $gray-light;
      border-color: $gray-light;
      border-width: 0.15rem;
      transition: all 0.3s linear;
    }

    .btn-difficult-word {
      &:hover {
        color: $orange;
        border-color: $orange;
      }

      &:active,
      &.active {
        color: $white;
        background-color: $orange;
        border-color: $orange;
      }
    }

    .btn-easy-word {
      &:hover {
        color: $green;
        border-color: $green;
      }

      &:active,
      &.active {
        color: $white;
        background-color: $green;
        border-color: $green;
      }
    }
  }

  &:hover {
    opacity: 1;

    .word-card-image {
      transform: scale(1.07);
    }
  }

  &.learned {
    .word-card-image {
      filter: grayscale(1);
    }
  }
}
