@import "timer";

:root {
  --height: 0;
}

.circle-wrapper {
  min-height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-container {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.circle-container:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
  background-color: $turquoise-dark;
  animation: wipe 1.5s cubic-bezier(.2,.6,.8,.4) forwards;
}

.circle-body {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-color: $turquoise-light;
  z-index: 4;
}

.circle-counter {
  margin-top: 50px;
  span {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-weight: bold;
    color: $turquoise-dark;
  }
}

@keyframes wipe {
  0% {
    height: 0;
  }
  100% {
    height: var(--height);
  }
}
